body {
    padding: 6em;
}

* {
    font-family: Roboto;
    font-size: 16px;
}

input, select {
    padding: 5px 10px;
    border: 1px solid gainsboro;
}

input, select, div.Select {
    width: 50%;
    border-radius: 5px;
    margin-bottom: 15px;
}


button {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    outline: none;
}
