body {
    padding: 6em;
}

* {
    font-family: Roboto;
    font-size: 16px;
}

tr {
    height: 2.7em;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #ddd;
}

::-webkit-scrollbar-track:hover {
    background: #ccc;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}


/* Datatable */

tbody tr.selected {
    background-color: whitesmoke;
}

tbody tr td.selected {
    background-color: gainsboro;
}

tbody tr td.editing {
    padding: 0;
}

table input, table select, table div.Select {
    width: 100%;
    border-radius: 0;
    margin: 0;
}

tr.invalid {
    background-color: rgba(200, 0, 0, 0.1);
}
